**/bin/
**/obj/
**/node_modules/
**/dist/
.git/
.idea/
src/backend/Modules/ReadAloud/ReadAloud.Tests/bin/
src/backend/Modules/ReadAloud/ReadAloud.Tests/obj/
src/frontend/node_modules/
src/frontend/dist/
ChatterBox/torch/
