readaloud.yorickteriele.nl {
    tls {
        challenges tls-alpn-01
    }

    handle /api/* {
        reverse_proxy backend:5001
    }

    handle {
        root * /srv
        file_server
        try_files {path} /index.html
    }
}
